@media screen and (min-width: 768px) and (max-width: 1024px) {
	.cabecalho__logo {
		order: 1;
	}

	.cabecalho__pesquisa {
		order: 2;
	}

	.botao.login {
		order: 3;
	}

	.cabecalho__pesquisa {
		width: 272px;
		height: 40px;
		padding: 8px 16px;
		/* border: 1px solid var(--branco-diferente); */
		background-color: var(--branco-diferente);
		background-position: calc(100% - 10px) 50%;
		filter: brightness(1);
	}

	.cabecalho__pesquisa::placeholder {
		color: var(--cinza);
		font-size: 14px;
		font-weight: 400;
		filter: brightness(2);
	}


}