.cabecalho {
	display: flex;
	width: 100vw;
	height: auto;
	justify-content: space-around;
	padding: 8px 16px;
	align-items: center;
}

.cabecalho__conteudo {
	display: flex;
	align-items: center;
	gap: 2rem;
	justify-items: center;
}
.cabecalho__logo {
	display: flex;
	align-items: center;
	padding: 1rem 0;
	gap: .1rem;
	
}

.logo {
	font-size: 150%;
	background: -webkit-linear-gradient(to right, var(--azul) 50%, var(--preto) 50%);
	background: -moz-linear-gradient(to right, var(--azul) 50%, var(--preto) 50%);
	background: -ms-linear-gradient(to right, var(--azul) 50%, var(--preto) 50%);
	background: linear-gradient(to right, var(--azul) 50%, var(--preto) 50%);
	-webkit-background-clip: text;
	-moz-background-clip: text;
	-ms-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
	font-weight: 700;
}
