
.cabecalho__pesquisa {
	border-radius: 20px;
	padding: 8px 16px;
	width: 393px;
	background: url(../../img/lupa.svg) no-repeat right center;
	background-position-x: calc(100% - 16px);
	background-color: var(--branco-diferente);
	border: none;
}

.cabecalho__pesquisa:focus {
	outline: none;
}

.cabecalho__pesquisa::placeholder{
	color: var(--placeholder);
}